html, body {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

/* 
  Resets
*/

* { box-sizing: border-box; }

a { text-decoration: none; color: #0074D9 }
input, textarea, select { outline: none; font-size: inherit; font-family: inherit; padding: 0px }
textarea { display: block }
input[type="date"] { -webkit-appearance: none }
button { outline: none; background: transparent; }

/* 
  Box shadows
*/

.box-card { box-shadow: 0px 5px 10px 5px rgba(172, 172, 172, 0.1) }

/* 
  Dimensions
*/

.w-a4 { width: 210mm }
.h-a4 { height: 297mm }

/* 
  Transitions / Animations
*/

.transition { transition: all 0.2s ease-in-out }

.rotate-0 { transform: rotate(0deg) }
.rotate-90 { transform: rotate(90deg) }
.rotate-180 { transform: rotate(180deg) }
.scale-in { transform: scale(1, 1) }
.scale-out { transform: scale(0.9, 0.9) }
.slide-left-out { transform: translateX(-100%) }
.slide-left-in { transform: translateX(0%) }

/*
  Utilities
*/

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}